* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #373838;
  height: 100%;
}
html {
  height: 100%;
}
.cover {
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #000000e3;
  /* background-color: #373838; */
  animation: disap 2.1s ease-in;

  z-index: -1;
  backdrop-filter: none;
  transition: 0.2s ease-in-out;
}

.cover-open {
  opacity: 1;
  z-index: 4;
  backdrop-filter: blur(4px);
}
@keyframes disap {
  0% {
    opacity: 1;
    z-index: 15;
    backdrop-filter: blur(7px);
  }
  50% {
    opacity: 1;
    z-index: 15;
    backdrop-filter: blur(7px);
  }
  100% {
    opacity: 0;
    z-index: 15;

    backdrop-filter: blur(0px);
  }
}

/*
.curtain {
  top: 50%;
  float: right;
  width: 0%;
  height: 100%;
  background-color: #000000;
   background-color: #373838;
  animation: intro1 0.5s ease-in-out;
} */

@keyframes intro1 {
  0% {
    opacity: 1;
    width: 100%;
  }
  50% {
    opacity: 1;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 0%;
  }
}

.svg1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
  opacity: 1;
  fill: white;
  animation: fadeIn 0.5s ease-in;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.svg2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
  opacity: 1;
  animation: intro 1s ease-in-out;
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: white;
}

.section {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 520px;
}
.s0 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://t3.ftcdn.net/jpg/03/58/22/06/360_F_358220623_49FTfZOho1zMu4HWjnTrayPmjhQNV3jP.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.s1 {
  background-color: #373838;
}
.logo {
}
.svg3 {
  height: 3.2em;
  width: 3.2em;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-tap-highlight-color: transparent;
  z-index: 2;

  left: 0;
  border: 0px solid white;
  fill: white;
  fill-opacity: 1;
  stroke: rgba(255, 255, 255, 0.8);
  stroke-linecap: round;
  stroke-width: 3;
  border: 0px solid white;
}
.logo:hover > .svg3 {
  fill-opacity: 0.4;
  stroke-width: 1;
  stroke: rgba(255, 255, 255, 0.5);
}

.header-container {
  width: 100%;
  min-height: 100px;
  position: fixed;
  color: #fff;

  z-index: 11;
  transition: 0.3s ease-in-out;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  transition: 0.3s ease-in-out;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #ffffff;
}

.nav-menu {
  z-index: 3;
  opacity: 1;
}
.invi {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;

  opacity: 1;
  z-index: 3;

  left: 0px;
  width: 100%;
  top: 0%;
}
.nav-item {
  opacity: 1;
  margin-left: 3rem;
  transition: 0.3s;
  z-index: 3;
}

.nav-link {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
}

.nav-link:hover {
  color: #ffffffec;
}

.burger {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

.nbox {
  border-bottom: 2px solid white;
  width: 0%;
  opacity: 1;
  transition: 0.2s ease-in-out;
}
.nav-link:hover + .nbox {
  width: 100%;
  opacity: 1;
}
.title {
  color: #ffffff;
  font-family: "SF Pro Text Heavy", Sans-serif;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 32px;
  letter-spacing: 1px;
  text-align: center;

  transition: 0.3s ease-in-out;
}
.main {
  transition: 0.3s ease-in-out;
}
.container_1 {
  border: 0px solid white;
  width: fit-content;
  position: absolute;
  top: 20%;
  margin: 10%;
  transition: 0.3s ease-in-out;
}
.descripttion {
  margin-top: 5%;
  color: #ffffffcc;
  font-family: "SF Pro Text Heavy", Sans-serif;
  font-size: 16px;
  font-weight: 100;
  text-transform: capitalize;
  line-height: 24px;
  letter-spacing: 0.8px;
  width: 420px;
}

button {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0);
  padding: 8px 10px 8px 10px;
  width: 90px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}
.button_con {
  display: flex;
  position: absolute;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  top: 122%;
}

button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

@media only screen and (max-width: 768px) {
  .burger {
    opacity: 1;
    z-index: 5;
    right: 5%;
  }
  .svg3 {
    display: flex;
    stroke-width: 1;
  }
  .container_1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }

  .title {
    margin-top: 8%;
  }
  .descripttion {
    position: absolute;
    color: #ffffffcc;
    font-family: "SF Pro Text Heavy", Sans-serif;
    font-size: 12px;
    font-weight: 100;
    text-transform: capitalize;
    line-height: 24px;
    letter-spacing: 0.8px;
    top: 20vh;
    padding: 7%;
    width: 100%;
  }
  .button_con {
    position: relative;
    top: 30vh;
  }
  .nav-menu {
  }

  .nav-item {
    margin-left: auto;
    margin-right: auto;
    display: fixed;
    transition: 0.3s ease-in-out;
    z-index: -3;
    margin: 3vh 0;
    text-align: center;
  }
  .navbar {
    padding: 5% 5%;
  }
  .nav-item:nth-child(1) {
    margin-top: 23vh;
  }
  .invi {
    opacity: 0;
    z-index: -3;
    transition: 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0%;
    visibility: hidden;
  }
  .nav-link {
    font-size: 2.8vh;
    font-weight: 500;
  }
/* }
@media only screen and (min-width: 769px) {
  .invi {
    opacity: 1;
    z-index: -3;
    visibility: visible;
  }
} */

.invi-open {
  visibility: visible;
  opacity: 1;
}
